body {
  margin: 0px;
}
.add-section {
    background-color: #575757;
    width: 100%;
    height: 100px;
    
}
.name-section{
    /* width: 100; */
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100px;
    padding-left: 50px;
}
.add-btn {
    display: block;
    height: 48px;
    margin: 20px;
    padding: 10px 20px;
}
.name {
    height: 40px;
}

.sub-wheel {
  /* display: none; */
  width: 400px;
  height: 400px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #333;
  margin: 20px auto;
  background-color: #333;
  transition: transform 4s cubic-bezier(0.1, 0.7, 0.1, 1);
  position: absolute;
  top: 75px;
  right: 95px;
}
.main-wheel {
  width: 600px;
  height: 600px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #333;
  margin: 20px auto;
  background-color: #333;
  transition: transform 4s cubic-bezier(0.1, 0.7, 0.1, 1);
  position: relative;
}
.fixed-wheel {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 50%;
  border: 5px solid #333;
  margin: 20px auto;
  background: #333;
  position: absolute;
  top: 435px;
  left: 50%;
  transform: translate(-50%, -50%); /* keeps it centered */
  z-index: 20; /* sits above spinning wheels */
}
.spin-btn {
  color: #333;
  font-size: large;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #ff004d;
  border: none;
  background: #ff004d;

}
.up-arrow {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #333;
  margin: 0 auto;
  position: relative;
  top: 54px;
  z-index: 10;
}
.down-arrow {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid #333;
  margin: 0 auto;
  position: relative;
  top: -32px;
  z-index: 10;
}

.players {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  background: var(--clr);
  transform-origin: bottom right;
  transform: rotate(calc(60deg * var(--i)));
  clip-path: polygon(0% 0%, 70% 0%, 100% 100%, 0% 70%);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  .players-name {
    top: -20px;
    right: 30px;
    font-size: x-large;
    color: #333;
    position: relative;
    transform: rotate(-45deg);
  }
}
.sub-players {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  background: var(--clr);
  transform-origin: bottom right;
  transform: rotate(calc(60deg * var(--i)));
  clip-path: polygon(0% 0%, 70% 0%, 100% 100%, 0% 70%);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  .players-name {
    font-size: x-large;
    color: #333;
    position: relative;
    transform: rotate(-45deg);
  }
}
